---
import { Image } from "astro:assets";
import Section from "./Section.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Card from "../ui/Card.astro";

// Bilder importieren
import kecilImage from "../../assets/pics/kecil.svg";
import besarImage from "../../assets/pics/besar.svg";

// Daten definieren
const kecil = [
  { place: "Corel Bay", price: "30" },
  { place: "Fisherman Village", price: "15" },
  { place: "Lagoon", price: "15" },
  { place: "Mira", price: "25" },
  { place: "Petani", price: "25" },
  { place: "Quite Beach", price: "25" },
  { place: "Romantic Beach", price: "25" },
  { place: "Wind Mills", price: "10" },
];

const besar = [
  { place: "Abdul", price: "20" },
  { place: "Aruwana", price: "30" },
  { place: "Bubbles", price: "30" },
  { place: "Cozy", price: "20" },
  { place: "Fauna", price: "30" },
  { place: "Flora", price: "30" },
  { place: "KK Beach", price: "25" },
  { place: "PIR", price: "15" },
  { place: "Suhaila", price: "20" },
  { place: "The Barat", price: "25" },
  { place: "The Reef", price: "15" },
  { place: "Tuna", price: "20" },
  { place: "Turtle Beach", price: "20" },
];
---

<Section id="cases">
  <div class="mt-[140px] text-[#673606]">
    <SectionTitle
      sectionTitle="Water Taxi"
      description="Choose your destination and let us take you there – price per person"
    />

    <div class="grid md:grid-cols-2 gap-0 w-full">
      <!-- Perhentian Kecil -->
      <div class="-mx-5 md:mx-0 bg-transparent">
        <Image
          src={kecilImage}
          alt="Perhentian Kecil"
          class="w-full h-full object-cover block rounded-none bg-transparent"
        />
      </div>
      <div>
        <Card title="Perhentian Kecil" subtitle="Small Island" destinations={kecil} />
      </div>

      <!-- Perhentian Besar -->
      <div class="-mx-5 md:mx-0 bg-transparent">
        <Image
          src={besarImage}
          alt="Perhentian Besar"
          class="w-full h-full object-cover block rounded-none bg-transparent"
        />
      </div>
      <div>
        <Card title="Perhentian Besar" subtitle="Big Island" destinations={besar} />
      </div>
    </div>
  </div>
</Section>