---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "Discover our full menu, from breakfast favorites to local specialties.";
---

<Section id="process">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="Awatif Cafe"
      description={description}  
    />
    <Accordion />
  </div>
</Section>