---
const { id, noPadding = false } = Astro.props;
---

<section id={id} class="px-0 flex justify-center overflow-hidden lg:block">
  <div class="w-full max-w-[1280px] mx-auto">
    <div class={noPadding ? "" : "px-5"}>
      <slot />
    </div>
  </div>
</section>