---
const { id, noPadding = false, backgroundColor = "" } = Astro.props;
---

<section id={id} class={`flex justify-center overflow-hidden ${backgroundColor}`}>
  <div class="w-full max-w-[1280px] mx-auto">
    <div class={noPadding ? "" : "px-5"}>
      <slot />
    </div>
  </div>
</section>