---
import Cases from "../components/sections/Cases.astro";
import Contact from "../components/sections/Contact.astro";
import Hero from "../components/sections/Hero.astro";
import Process from "../components/sections/Process.astro";
import Proposal from "../components/sections/Proposal.astro";
import Services from "../components/sections/Services.astro";
import Sponsors from "../components/sections/Sponsors.astro";
import Team from "../components/sections/Team.astro";
import Testimonials from "../components/sections/Testimonials.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Awatif Cafe"
  description="Awatif Cafe on Long Beach Perhentian Kecil"
>

 {/*
  <Hero />
  <Sponsors />
  <Services />
  <Proposal /> */}

  <Process />
<div class="relative h-[50px]">
  <div class="absolute top-0 left-0 w-full h-[5px] bg-[#673606]"></div>
  <div class="absolute top-[1px] left-0 w-full h-[50px] bg-gradient-to-b from-[#673606] to-transparent blur-sm opacity-40"></div>
</div>
  <Cases />
  <Team />

</MainLayout>
