---
import Cases from "../components/sections/Cases.astro";
import Contact from "../components/sections/Contact.astro";
import Hero from "../components/sections/Hero.astro";
import Process from "../components/sections/Process.astro";
import Proposal from "../components/sections/Proposal.astro";
import Services from "../components/sections/Services.astro";
import Sponsors from "../components/sections/Sponsors.astro";
import Team from "../components/sections/Team.astro";
import Footer from "../components/ui/Footer.astro";
import Testimonials from "../components/sections/Testimonials.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets"; 
import Rattan from "../assets/673606Rat.svg";
import Wasser from "../assets/Wasser.png";
---

<MainLayout
  title="Awatif Cafe"
  description="A Restaurant on Long Beach, Perhentian Kecil Island"
>
  {/* Optionaler Anfangsbereich */}
  {/* <Hero />
  <Sponsors />
  <Services />
  <Proposal /> */}

  <Process />

  <!-- Wasser-Hintergrund beginnt hier -->
<section class="relative z-0 bg-[#fef6e9] min-h-full">
  <!-- ✅ Hintergrund-Ebene, die sich an die Höhe des Inhalts anpasst -->
  <div class="absolute top-0 left-0 w-full h-full -z-10">
   <img
  src={Wasser.src}
  alt="Water background"
  class="w-full h-full object-cover object-top"
/>
  </div>

  <!-- Inhalt -->
  <Cases />
  <Team />
  <Footer />
</section>
</MainLayout>