---
import { Astronav } from "astro-navbar";

const menuitems = [
  { href: '/#process', label: 'Menu' },
  { href: '/#cases', label: 'Water Taxi' },
  { href: '/#about', label: 'Snorkling' },
];
---

<div class="mt-16">
  <nav class="w-full fixed top-0 left-0 z-50 bg-white shadow-sm">
    <header class="flex flex-col lg:flex-row justify-between items-center py-2 px-4 md:px-10">
      <Astronav>
        <div class="flex w-full lg:w-auto items-center justify-between">
         <a href="/" class="flex items-center space-x-2">
  <img src="/Logo.svg" alt="Awatif Cafe" class="h-8 w-auto" />
  <span class="text-xl font-bold text-brown">Awatif Logo</span>
</a>
          <div class="block lg:hidden">
            <div id="menu-icon" class="w-8 h-8 text-black cursor-pointer">
              <svg id="open-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
              <svg id="close-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="w-6 h-6 hidden">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </div>
          </div>
        </div>

        <nav class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0" id="menu-items">
          <ul class="font-medium flex flex-col p-2 lg:p-0 mt-2 lg:flex-row lg:space-x-6 lg:mt-0">
            {menuitems.map((item) => (
              <li>
                <a 
                  href={item.href}
                  class="block py-1 px-3 text-sm text-black hover:underline"
                  data-close-menu="true"
                >
                  {item.label}
                </a>
              </li>
            ))}
          </ul>
        </nav>
      </Astronav>
    </header>
  </nav>
</div>

<script is:inline>
  const menuIcon = document.getElementById('menu-icon');
  const openIcon = document.getElementById('open-icon');
  const closeIcon = document.getElementById('close-icon');
  const menuItems = document.getElementById('menu-items');
  const closeMenuItems = document.querySelectorAll('[data-close-menu="true"]');

  menuIcon.addEventListener('click', () => {
    menuItems.classList.toggle('hidden');
    openIcon.classList.toggle('hidden');
    closeIcon.classList.toggle('hidden');
  });

  closeMenuItems.forEach(item => {
    item.addEventListener('click', () => {
      menuItems.classList.add('hidden');
      openIcon.classList.remove('hidden');
      closeIcon.classList.add('hidden');
    });
  });
</script>